@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM-Plex-Serif', 'Open-Sans', 'sans-serif';
    line-height: 1.4;
}

a {
    text-decoration: none;
}

.carousel-item {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}